





.container{
position: relative;
width: 100%;}







h2{
	position: absolute;
	top: 60px;
	left: 0;
	width: 67.5%;
	background-color: ghostwhite;

}

.chi{
position: relative;
width: 100%;}







h3{
	position: absolute;
	top: 60px;
	left: 0;
	width: 67.5%;
	background-color: ghostwhite;}

.oya{
}





















